@import com.typesafe.config._

@(config: ConfigObject, downCount: Option[Int], upCount: Option[Int])

@main(ViewConfig("DSA Broker: Config", "Configuration", "Configuration", "Broker Configuration", downCount, upCount)) {
<div class="matter">
	<div class="container-fluid">
		<div class="row-fluid">
			<pre id="config"></pre>
		</div>
	</div>
</div>
<script type="text/javascript">
        var div = document.createElement('div');
        div.innerHTML = "@config.render(ConfigRenderOptions.concise)";
        var data = JSON.parse(div.firstChild.nodeValue.replace(/\n/g, " "));
        var js = JSON.stringify(data, undefined, 2);
        document.getElementById('config').innerHTML = js;
</script>  
}
