@import _root_.akka.actor.Address
@import org.joda.time.format.DateTimeFormat
@import models.akka.ConnectionInfo
@import models.akka.Messages.LinkInfo 
@import controllers.ViewConfig

@(regex: String, limit: Int, offset: Int, links: Map[Address, Iterable[LinkInfo]], total: Int, downCount: Option[Int], upCount: Option[Int]) 

@linkMode(ci: ConnectionInfo) = @{(ci.isRequester, ci.isResponder) match {
	case (true, false) => "requester"
	case (false, true) => "responder"
	case (true, true)  => "dual" 
	case _             => "unknown" 
}}

@linksForNode(address: Address, links: Iterable[LinkInfo]) = {
	<div class="row-fluid">
		<div class="widget wblue">
			<div class="widget-head">@address</div>
			<div class="widget-content">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Status</th>
								<th>Name</th>
								<th>Mode</th>
								<th>Data</th>
								<th>Version</th>
								<th>Formats</th>
								<th>Compression</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						@for(link <- links) {
							<tr>
								<td>
									@if(link.connected) {
										<span class="label label-success">
											<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
										</span>
										&nbsp;
										<em>
											@link.lastConnected.map(DateTimeFormat.shortDateTime.print)
										</em>
									} else {
										<span class="label label-important">
											<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
										</span>
										&nbsp;
										<em>
											@link.lastDisconnected.map(DateTimeFormat.shortDateTime.print)
										</em>
									}
								</td>
								<td><a href="#">@link.ci.linkName</a></td>
								<td>@linkMode(link.ci)</td>
								<td>@link.ci.linkData.getOrElse("-")</td>
								<td>@link.ci.version</td>
								<td>@link.ci.clientFormats.mkString(",")</td>
								<td>@link.ci.compression</td>
								<td>
									@if(link.connected) {
										<button class="btn btn-sm btn-warning" onclick="disconnect('@link.ci.linkName')">Disconnect</button>
									} else {
										<button class="btn btn-sm btn-danger" onclick="remove('@link.ci.linkName')">Remove</button>
									}
								</td>
							</tr>						
						}
						</tbody>					
					</table>
				</div>
			</div>
			<div class="widget-foot">
				<strong>@links.size</strong> out of total <strong>@total</strong> items found.
			</div>			
		</div>
	</div>
}

@main(ViewConfig("DSA Broker: DSLinks", "DSLinks", "DSLinks", "Broker Downstream Connections", downCount, upCount)) {
<div class="matter">
	<div class="container-fluid">
		<div class="row-fluid">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="regex" class="col-sm-2 control-label">Pattern</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="regex" value="@regex" placeholder="dslink name pattern">
					</div>
				</div>
				<div class="form-group">
					<label for="limit" class="col-sm-2 control-label">Limit</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="limit" value="@limit" placeholder="links to display">
					</div>
				</div>
				<div class="form-group">
					<label for="offset" class="col-sm-2 control-label">Offset</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="offset" value="@offset" placeholder="first link to display">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="button" class="btn btn-primary" onclick="search()">Search</button>
						<button type="button" class="btn btn-default" onclick="reset()">Reset</button>
						<button type="button" class="btn btn-danger" onclick="removeDisconnected()">Remove Disconnected</button>
					</div>
				</div>				
			</form>
		</div>

		@for(link <- links) {
			@linksForNode(link._1, link._2)
		}
	</div>
</div>

<script>
function search() {
	var regex = document.getElementById("regex").value;
	var limit = document.getElementById("limit").value;
	var offset = document.getElementById("offset").value;
	window.location.href = window.location.pathname + "?" + 
		$.param({'regex':regex, 'limit':limit, 'offset':offset});
}

function reset() {
	document.getElementById("regex").value = '.*';
	document.getElementById("limit").value = 100;
	document.getElementById("offset").value = 0;
}

function disconnect(linkName) {
	$.ajax({
	    url: 'dslinks/' + linkName + '/stop',
	    type: 'PUT',
	    success: function(data) {
			alert(data);
			location.reload();
	    }
	});	
}

function remove(linkName) {
	$.ajax({
	    url: 'dslinks/' + linkName,
	    type: 'DELETE',
	    success: function(data) {
			alert(data);
			location.reload();
	    }
	});	
}

function removeDisconnected() {
	$.ajax({
	    url: 'dslinks',
	    type: 'DELETE',
	    success: function(data) {
			alert(data);
			location.reload();
	    }
	});
}
</script>
}{<!-- no tail -->}